.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  padding: 20px;
  font-size: 22px;
  color: #585858;
  margin: 10px auto;
}
.main .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin-bottom: 50px;
}
.main .greet p {
  color: #c4c7c5;
  font-size: 2rem;
  font-weight: bolder;
}
.main .greet span {
  color: violet;
  font-size: 3rem;
}
.main-container .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.main-container .cards .card {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f0f4f9;
  cursor: pointer;
  padding: 15px;
  position: relative;
}
.main-container .card:hover {
  background-color: #dfe4ea;
}
.main-container .card img {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
}
.main-container .card p {
  color: #585858;
}
.main-container .review {
  background-color: #f0f4f9;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}
.main-container .review p {
  margin-bottom: 20px;
}
.main-container .btn {
  display: flex;
  justify-content: end;
}
.main-container .btn button {
  border: none;
  outline: none;
  color: rgb(31, 31, 208);
  cursor: pointer;
  padding: 10px;
}
.main-container .btn button:hover {
  background-color: #8eaacdb8;
  border-radius: 20px;
}
.main .main-bottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  width: 100%;
  max-width: 900px;
  margin: auto;
  bottom: 0;
}
.main .main-bottom .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 40px;
  margin-bottom: 15px;
}
.main .main-bottom .search-box input {
  border: none;
  outline: none;
  width: 90%;
  background: transparent;
}
.main .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .search-box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
}

.main .result {
  padding: 0px 5%;
  overflow-y: scroll;
  max-height: 70vh;
}
.main .result::-webkit-scrollbar {
  display: none;
}
.main .result .result-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.main .result .result-data {
  gap: 20px;
  align-items: start;
}
